<!-- Footer-->
{% load static %}
<footer class="py-5 bg-dark">
    <div class="container row">
        <div class="col-3">
            <img class="img-fluid" src="{% static 'shoppingmall/images/logo_white.png' %}">
        </div>
        <div class="col-9 text-white">
            <div class="row">
                <div class="col-3">
                    COMPANY
                </div>
                <div class="col-9">
                    Individuality : PhoneCase Shop
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    ADDRESS
                </div>
                <div class="col-9">
                    대한민국 서울 중구 장충단로13길 20
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    SERVICE CENTER
                </div>
                <div class="col-9">
                    02-123-4567
                </div>
            </div>
        </div>
    </div>
</footer>