{% extends 'shoppingmall/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ goods.name }}
{% endblock %}

{% block main_area %}
<!-- Post content--> <!--포스트 하나의 내용-->
<div id="post-area">
    <!-- Post header-->
    <header class="mb-4">
        {% if goods.manufacturer %}
            <span class="badge badge-secondary ">{{goods.manufacturer}}</span>
        {% else %}
            <span class="badge badge-secondary ">OTHER THINGS</span>
        {% endif %}
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{ goods.name }}</h1>
            {% if user.is_authenticated and user == goods.author %}
                <a href="/goods/update_post/{{goods.pk}}/"
                class="btn btn-info btn-small float-right">
                    <i class="fas fa-pen"></i>
                     Edit Post
                </a>
            {% endif %}
    </header>
    <!-- Preview images figure-->
    <div class="row">
        <div class="col-lg-8 mb-4">
        {% if goods.image %} <!--이미지가 존재-->
            <img class="img-fluid rounded" src="{{ goods.image.url }}" alt="{{goods.name}}의 image" />
        {% else %}
            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random image"> <!--랜덤 이미지 / post.id로 id마다 이미지 유지-->
        {% endif %}
        </div>
        <div class="col-lg-4">
            <!-- Goods Info-->
            <p>PhoneCase Name: {{goods.name}}</p>
             <p>{{goods.brief_content}}</p>
            <p>CaseType: {{goods.CaseType}}</p>
            <p>country: {{goods.price}}</p>
            <hr>
            <p>Price: {{goods.price}}</p>
            <p>Delivery fee: {{goods.delivery_fee}}</p>
            <p>Total Price: </p> // 계산 수행하는 함수 만들기
        </div>
    </div>
    <section>
        <!-- Goods content-->
        <p>{{ goods.get_content_markdown | safe }}</p>
    </section>


</div>
<!--상품 문의 -->
<hr>
<p>상품 문의 및 Q&A</p>
<div class="mb-5" id="comment-area">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            {% if user.is_authenticated %}
            <form class="mb-4" id="comment-form" method="POST" action="{{goods.get_absolute_url}}new_comment/">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form | crispy }}
                </div>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
            {% else %}
            <a role="botton" class="btn btn-outline-dark" href="#"
            data-toggle="modal" data-target="#loginModal">
                Log in and leave a comment
            </a>
            {% endif %}
            <!-- Single comment-->
            {% if goods.comment_set.exists %}
            {% for comment in goods.comment_set.all %}
            <div class="d-flex" id="comment-{{comment.pk}}">
                <div class="flex-shrink-0">
                    <img class="rounded-circle" src="{{ comment.get_avatar_url }}" alt="{{ comment.author }}" width="60px" />
                </div>
                <div class="ms-3">
                    <div class="fw-bold">{{comment.author.username}} &nbsp;&nbsp;&nbsp;
                        <small class="text-muted">{{comment.created_at}}</small></div>
                    <p>{{ comment.content | linebreaks }}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}