{% extends 'shoppingmall/base.html' %}
{% block main_area %}


<div class="row">
    <div class="col-6">
        <span style="font-size:60px">GOODS</span>
        <span style="font-size:20px">
            &nbsp;
            {% if search_info %} <span> {{ search_info }}</span> {% endif %}
            {% if manufacturer %} <span> {{manufacturer}}</span>
            {% elif casetypes %} <span> {{casetype}}</span> {% endif %}
            {% if tag %} <i class="fas fa-tags"></i><span class="badge bg-light">{{ tag }}({{tag.post_set.count}})</span>{% endif %}
        </span>
    </div>
    <div class="col-6">
        {% if user.is_authenticated %}
            {% if user.is_staff or user.is_superuser %}
                <a class="btn btn-dark btn-small float-right mt-5" href="/goods/create_post">
                    <i class="fas fa-pen"></i> New Post
                </a>
            {% endif %}
        {% endif %}
    </div>
</div>

<hr class="hr_style"/>

{% if goods_list.exists %}
    <div class="row mb-3">
{% for p in goods_list %} <!--post_list 대신 object_list 사용해도 됨 / 모델명_list-->
        <div class="col-sm-6 col-lg-4">
            <div class=" mb-4 h-75"  id="goods-{{p.pk}}">
                <a class="text-decoration-none text-dark" href="{{ p.get_absolute_url }}">
                {% if p.image %}
                    <img class="card-img-top" src="{{ p.image.url }}"  alt="{{ p }}의 image" /><!--실제로는 업로드한 이미지가 보여짐-->
                {% else %}
                    <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/800/200" alt="random image" /> <!--p.id로 고유한 값을 줌, 아이디에 대한 이미지 고정-->
                {% endif %}
                <div class="card-body">
                    <span class="badge badge-secondary mb-2">{{p.manufacturer}}</span>
                    <h3 class="card-title h6 text-success font-weight-bold">{{ p.name | upper }}</h3>
                    <p class="card-text">{{ p.brief_content }}</p> <!--truncatewords:45 : 45개 단어 출력-->
                    <h6 class="card-text text-muted float-bottom h4">{{ p.price }} won</h6>

                </div>
                </a>
            </div>
        </div>
{% endfor %}
    </div>
{% else %} <!--post_list가 존재하지 않을 때-->
    <h2>아직 게시물이 없습니다.</h2>
{% endif %}

<!-- Pagination -->
<hr class="hr_style" noshade>
{% if is_paginated %}

<ul class="pagination justify-content-center my-4">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}" tabindex="-1" aria-disabled="true">&larr; Newer</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}">Older &rarr;</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="#!">Older &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
</div>
{% endblock %}