{% extends 'shoppingmall/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
    {{ goods.name }}
{% endblock %}

{% block main_area %}
<!-- Post content-->
<div class="mx-4" id="post-area">
    <!-- Post header-->
    <span class="badge badge-secondary">{{goods.manufacturer}}</span>
    <header class="mb-2 row">
        <!-- Post title-->
            <div class="col-sm-8 col-lg-9">
                <h1 class="fw-bolder mb-1 h2 detail_title_style">{{ goods.name }}</h1>
                <p class="text-secondary">{{goods.brief_content}}</p>
            </div>
            <div class="col-sm-4 col-lg-3">
                {% if user.is_authenticated and user == goods.author %}
                <a href="/goods/update_post/{{goods.pk}}/"
                class="btn btn-dark btn-small float-right">
                    <i class="fas fa-pen"></i>
                     Edit Post
                </a>
                {% endif %}
            </div>
    </header>
    <div class="row">
        <div class="col-lg-6 mb-4">
        {% if goods.image %}
            <img class="img-fluid rounded float-right" src="{{ goods.image.url }}" alt="{{goods.name}}의 image" />
        {% else %}
            <img class="img-fluid rounded"  src="https://picsum.photos/seed/{{post.id}}/800/200" alt="random image">
        {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="row mb-2">
                <div class="col-4 detail_semi_title">Price</div>
                <div class="col-8 mt-1 detail_semi_content">{{goods.price}}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 detail_semi_title">Delivery fee</div>
                <div class="col-8 detail_semi_content">{{goods.delivery_fee}}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 detail_semi_title">Case Type</div>
                <div class="col-8 detail_semi_content">{{goods.case_type}}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 detail_semi_title">Manufacturer</div>
                <div class="col-8 detail_semi_content">{{goods.manufacturer}}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 detail_semi_title">Country</div>
                <div class="col-8 detail_semi_content">{{goods.country}}</div>
            </div>
            <div class="row mb-2">
                <div class="col-4 detail_semi_title">Phone Model</div>
                <div class="col-8 detail_semi_content">
                    <form>
                        <select id="model">
                            {% for m in goods.PhoneModel.all %}
                            <option value="{{m}}">{{m}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
            <div class="row mb-2"> <!-- Goods price sum-->
                <hr class="col-11 two_stroke my-4">
                <div class="col-5 detail_semi_title mt-2" style="font-size:30px;color:rgb(151,107,226)">TOTAL PRICE</div>
                <p id="sum" class="col-7 detail_semi_title" style="font-size:40px"> </p>
            </div>
            <div class="row mb-2">
                <div class="col-4 mt-3"><div class="btn btn-success col-12 px-2 py-2">BUY IT NOW</div></div>
                <div class="col-4 mt-3"><div class="btn btn-dark col-12 px-2 py-2">ADD TO KART</div></div>
                <div class="col-4 mt-3"><div class="btn btn-dark col-12 px-2 py-2">ADD TO WISH</div></div>
            </div>
        </div>
    </div>
    </div>
    <br><br>
    <hr class="hr_style">
    <br><br>
    <section class="mx-2">
        <!-- Goods content-->
        <p>{{ goods.get_content_markdown | safe }}</p>
    </section>
</div>

<!--상품 문의 -->
<hr class="hr_style">
<h3 style="font-size:30px; font-weight:700">상품 문의 및 Q&A</h3>
<div class="mb-5 mt-3" id="comment-area">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            <div>
            {% if user.is_authenticated %}
                <form class="mb-4" id="comment-form" method="POST" action="{{goods.get_absolute_url}}new_comment/">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ comment_form | crispy }}
                    </div>
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            {% else %}
                <a role="botton" class="btn btn-outline-dark" href="#"
                data-toggle="modal" data-target="#loginModal">
                    Log in and leave a comment
                </a>
            {% endif %}
            </div>
        </div>
        <div class="mx-4">
            <!-- Single comment-->
            {% if goods.comment_set.exists %}
            {% for comment in goods.comment_set.all %}
            <div class="d-flex mt-3 mb-2" id="comment-{{comment.pk}}">
                <div class="flex-shrink-0">
                    <img class="rounded-circle ml-2" src="{{ comment.get_avatar_url }}" alt="{{ comment.author }}" width="60px" />
                </div>
                <div class="media-body">
                     {% if user.is_authenticated and comment.author == user %}
                    <div class="float-right">
                        <a role="button"
                           class="btn btn-sm btn-info float-right"
                           id="comment-{{ comment.pk }}-update-btn"
                           href="/goods/update_comment/{{ comment.pk }}/">
                            edit
                        </a>
                        <a role="button"
                           href="#"
                           id="comment-{{ comment.pk }}-delete-modal-btn"
                           class="btn btn-sm btn-danger"
                           data-toggle="modal" data-target="#deleteCommentModal-{{ comment.pk }}">
                            delete
                        </a>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <del>{{ comment | linebreaks }}</del>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a role="button" class="btn btn-danger" href="/goods/delete_comment/{{ comment.pk }}/">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="ml-2">
                    <h5 class="fw-bold">
                        {{comment.author.username}} &nbsp;&nbsp;&nbsp;
                        <small class="text-muted">{{comment.created_at}}</small>
                    </h5>
                    <p>{{ comment.content | linebreaks }}</p>
                    </div>
                    {% if user.is_authenticated and comment.author == user %}
                        {% if comment.created_at != comment.modified_at %}
                            <p class="text-muted float-right"><small>Updated: {{ comment.modified_at }}</small></p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
</div>

<script>
    let total_field = document.getElementById('sum');
    let price = parseInt({{goods.price}});
    let delivery_fee = parseInt({{goods.delivery_fee}});
    let sum = price + delivery_fee;
    total_field.innerHTML = sum + " won";
</script>

{% endblock %}

