/*hr 적용*/
.hr_style {
    border: solid 4px black;
}

.two_stroke{
    border: solid 2px black;
    padding: 0; 2px; 0; 2px;
}

/*상세 페이지에서 사용한 css*/
.detail_title_style{
    font-weight:700;
    color:rgb(151,107,226);
}

.detail_semi_title{
    font-weight:700;
    font-size:20px;
}

.detail_semi_content{
    font-size:20px;
}

/*카테고리*/
.category_title{
    background-color:black;
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

.category_list{
    font-size: 20px;
    color: black;
    font-weight:700;
}

.category_list:hover{
    color: rgb(98,125,81)
}

.all_goods{
    color: rgb(151,107,226);
    padding: 10px;
}

.all_goods:hover{
    color: rgb(98,125,81);
    padding: 10px;
}

/*박스*/
.title_box{
     border: solid 3px black;
     padding: 10px;
     text-align:center;
}
